[user]
	name = Eugenio Mattei
	email = emattei@users.noreply.github.com
[core]
	editor = vim

# From http://blog.kfish.org/2010/04/git-lola.html
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola= log --graph --decorate --pretty=oneline --abbrev-commit --all
	lolal= log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset %s\" --abbrev-commit --all
	lola80= log --graph --decorate
[color]
	branch= auto
	diff= auto
	interactive= auto
	status= auto
[init]
	defaultBranch = main
